[Unit]
Description=GitHub Actions Runner
Wants=github-runner-config.service
After=github-runner-config.service network.target

[Service]
User=runner
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/github-runner-env
WorkingDirectory=/home/runner/actions-runner
ExecStart=/home/runner/actions-runner/bin/runsvc.sh
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
