[Unit]
Description=GitHub Actions Runner Installer
After=network.target

[Service]
Type=oneshot
User=runner
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/github-runner-env
WorkingDirectory=/home/runner
ExecStart=/home/runner/actions-runner-install.sh

[Install]
WantedBy=multi-user.target
